mixin wood(data)
  section.wood
    .wood-image
      img(src="static/img/assets/wood/wood.webp", alt="")
    
    .content.max-full
      span Закажите проект этой осенью
      h1 Современный дом
        br
        | из клееного бруса за 1 год
      .wood-items
        .wood-item
          span 01
          span Архитектурный проект и генплан
        .wood-item
          span 02
          span Дизайн интерьера
        .wood-item
          span 03
          span Строительство и комплектация