mixin passage(data)
  section.passage
    .content.max-full

      .passage-slider
        .passage-slides

          //- Passage Slide
          .passage-slide
            a(href="static/img/assets/passage/p1.jpg" data-fancybox='passage')
              img(src="static/img/assets/passage/p1.jpg", alt="") 
          //- Passage Slide
          .passage-slide
            a(href="static/img/assets/passage/p2.jpg" data-fancybox='passage')
              img(src="static/img/assets/passage/p2.jpg", alt="") 
          //- Passage Slide
          .passage-slide
            a(href="static/img/assets/passage/p3.jpg" data-fancybox='passage')
              img(src="static/img/assets/passage/p3.jpg", alt="") 
          //- Passage Slide
          .passage-slide
            a(href="static/img/assets/passage/p4.jpg" data-fancybox='passage')
              img(src="static/img/assets/passage/p4.jpg", alt="") 
          //- Passage Slide
          .passage-slide
            a(href="static/img/assets/passage/p5.jpg" data-fancybox='passage')
              img(src="static/img/assets/passage/p5.jpg", alt="") 
          //- Passage Slide
          .passage-slide
            a(href="static/img/assets/passage/p6.jpg" data-fancybox='passage')
              img(src="static/img/assets/passage/p6.jpg", alt="") 
          //- Passage Slide
          .passage-slide
            a(href="static/img/assets/passage/p7.jpg" data-fancybox='passage')
              img(src="static/img/assets/passage/p7.jpg", alt="") 