doctype html
html(class="no-js", lang="ru")

  include ../components/head/head 
  include ../components/header/header
  include ../components/service/service
  include ../components/steps/steps
  include ../components/footer/footer
  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    main.diamond-main.diamond-top

      +header().header-black

      +service()

      +steps()

      +footer().footer-black

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')