mixin future(data)
  section.future
    .content.max-full
      .title
        h2 Как может выглядеть ваш будущий дом
        p Вы можете выбрать комплексный подход работы «под ключ» или доверить нам отдельные этапы работ, например: 
          br
          | архитектурное проектирование или дизайн-проект.
      
      
      .future-rows

        .future-row
          .future-item
            a(href="static/img/assets/future/f1.jpg" data-fancybox='future')
              img(src="static/img/assets/future/f1.jpg", alt="Future")

          .future-item
            a(href="static/img/assets/future/f2.jpg" data-fancybox='future')
              img(src="static/img/assets/future/f2.jpg", alt="Future")
              
          .future-item
            a(href="static/img/assets/future/f3.jpg" data-fancybox='future')
              img(src="static/img/assets/future/f3.jpg", alt="Future")
        .future-row
          .future-item
            a(href="static/img/assets/future/f4.jpg" data-fancybox='future')
              img(src="static/img/assets/future/f4.jpg", alt="Future")

          .future-item
            a(href="static/img/assets/future/f5.jpg" data-fancybox='future')
              img(src="static/img/assets/future/f5.jpg", alt="Future")
              
          .future-item
            a(href="static/img/assets/future/f6.jpg" data-fancybox='future')
              img(src="static/img/assets/future/f6.jpg", alt="Future")