body
  min-width 320px
  overflow-x hidden
  font-family $Reg
  color $bk
  font-size 16px
  line-height 1.55
main.diamond-main
  overflow hidden

a
  text-decoration none
  color inherit
  outline none

img
  max-width 100%
  max-height 100%
  object-fit contain

.content
  width 1080px
  margin 0 auto
  &.max-full
    width 1650px
    

h1
  color $wh
  font-size 56px
  line-height 1.5
  font-family $Semi
  text-transform uppercase
  span
    text-transform none
    font-size 72%
    display block


h2
  color $wh
  font-size 32px
  font-family $Semi
  line-height 1.55

h4
  color $BK_ONE
  font-size 22px
  font-family $Medium 
h5
  color $BK_ONE
  font-size 17px
  font-family $Semi

p
  font-size 14px
  font-family $Light
  color $BK_ONE

.socials
  ul
    display flex
    align-items center
    li
      margin-right 50px
      &:last-child
        margin-right 0
      a
        display flex
        justify-content center
        align-items center
        width 30px