body
  min-width 320px
  overflow-x hidden
  font-family $Reg
  color $bk
  font-size 16px
  background #ccc
main.diamond-main
  overflow hidden

a
  text-decoration none
  color inherit
  outline none

img
  max-width 100%
  max-height 100%
  object-fit contain

.content
  width 1270px
  margin 0 auto
  &.max-full
    width 1650px
    
