@font-face {
 font-family: 'Montserrat-Light';
 src: url('../fonts/Montserrat-Light/Montserrat-Light.eot');
 src: url('../fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
         url('../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Montserrat-Regular';
 src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot');
 src: url('../fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'),
         url('../fonts/Montserrat-Regular/Montserrat-Regular.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Montserrat-Medium';
 src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot');
 src: url('../fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
         url('../fonts/Montserrat-Medium/Montserrat-Medium.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Montserrat-SemiBold';
 src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot');
 src: url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff') format('woff'),
         url('../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'Montserrat-ExtraBold';
 src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot');
 src: url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.woff') format('woff'),
         url('../fonts/Montserrat-ExtraBold/Montserrat-ExtraBold.ttf') format('truetype');
 font-weight: normal;
 font-style: normal;
}

$Light = 'Montserrat-Light', sans-serif;
$Reg = 'Montserrat-Regular', sans-serif;
$Medium = 'Montserrat-Medium', sans-serif;
$Semi = 'Montserrat-SemiBold', sans-serif;
$Extra = 'Montserrat-ExtraBold', sans-serif;