mixin process(data)
  section.process
    .content
      .process-title
        h2 Комплексный подход к организации жизни за городом
        p Создаем архитектуру дома, продумываем дополнительные строения, 
          br
          | ландшафтный дизайн и логистику — всё в едином стиле
      
      .process-items
        .process-item
          img(src="static/img/assets/process/p1.svg", alt="Process")
          span Экология и дизайн
          p Клееный брус — материал премиум-класса: герметичный, сохраняет тепло зимой и прохладу летом, помогает дышать свежим воздухом у себя дома
        
        .process-item
          img(src="static/img/assets/process/p2.svg", alt="Process")
          span Индивидуальность
          p Благодаря единой концепции пространство внутри и снаружи представляет собой автономный жилой комплекс для отдельно взятой семьи

        .process-item
          img(src="static/img/assets/process/p3.svg", alt="Process")
          span Тренды
          p Минимализм в архитектуре — это лаконичность, функциональность и взаимосвязь цифровых возможностей и экологичного дизайна