.process
  padding-top 75px
  padding-bottom 75px
  &-title
    text-align center
    margin-bottom 40px
    h2
      color $BK_ONE
      margin-bottom 20px
    p
      font-size 16px
      line-height 1.7
  &-items
    display flex
    justify-content space-between
  &-item
    width 30%
    img
      max-width 100px
      display block
    span
      display block
      font-size 20px
      line-height 1.55
      font-family $Semi
      margin-bottom 20px
    p
      font-size 16px
      line-height 1.7