mixin portfolio(data)
  section.portfolio
    .content
      h2 Наши работы
      
    .portfolio-items

      //- Portfolio Item
      .portfolio-item
        .portfolio-item__big Жк река
        .content
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p1.jpg", alt="Portfolio Item")
            .portfolio-item__content
              span ЖК Река 192 м.кв
              p Здесь все определяет локация самого жилого комплекса. Он расположен возле реки. Мы оттолкнулись от современных архитектурных решений, кот0
            .portfolio-item__icon
              span Фото проекта
              .portfolio-item__img
                img(src="static/img/assets/portfolio/icon.svg", alt="Icon")
      
      //- Portfolio Item
      .portfolio-item
        .portfolio-item__big Prime house
        .content
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p2.jpg", alt="Portfolio Item")
            .portfolio-item__content
              span ЖК Река 192 м.кв
              p Здесь все определяет локация самого жилого комплекса. Он расположен возле реки. Мы оттолкнулись от современных архитектурных решений, кот0
            .portfolio-item__icon
              span Фото проекта
              .portfolio-item__img
                img(src="static/img/assets/portfolio/icon.svg", alt="Icon")
        
      //- Portfolio Item
      .portfolio-item
        .portfolio-item__big Barrin house
        .content
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p3.jpg", alt="Portfolio Item")
            .portfolio-item__content
              span ЖК Река 192 м.кв
              p Здесь все определяет локация самого жилого комплекса. Он расположен возле реки. Мы оттолкнулись от современных архитектурных решений, кот0
            .portfolio-item__icon
              span Фото проекта
              .portfolio-item__img
                img(src="static/img/assets/portfolio/icon.svg", alt="Icon")
      
      //- Portfolio Item
      .portfolio-item
        .portfolio-item__big Mosfilm
        .content
          .portfolio-item__photo
            img(src="static/img/assets/portfolio/p4.jpg", alt="Portfolio Item")
            .portfolio-item__content
              span ЖК Река 192 м.кв
              p Здесь все определяет локация самого жилого комплекса. Он расположен возле реки. Мы оттолкнулись от современных архитектурных решений, кот0
            .portfolio-item__icon
              span Фото проекта
              .portfolio-item__img
                img(src="static/img/assets/portfolio/icon.svg", alt="Icon")