mixin manufactures(data)
  section.manufactures
    .content
      .manuf-wrapper
        .manuf-left
          .manuf-items
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")
            .manuf-item
              img(src="static/img/assets/manufactures/m1.svg", alt="")

        .manuf-right
          h2 Производители
          p Работаем с финскими, немецкими и российскими производителями клееного бруса и лакокрасочных материалов.
          p Сотрудничаем с 200 фабриками отделочных материалов, плитки, сантехники и мебели.
