.manufactures
  padding-bottom 75px
.manuf
  &-wrapper
    display flex
    justify-content space-between
  &-left,
  &-right
    width calc(50% - 20px)
  &-items
    display flex
    flex-wrap wrap
    position relative
    top 20px
    margin-bottom -20px
  &-item
    width 19%
    margin-right 1.25%
    margin-bottom 20px
    transition $tr
    filter grayscale(100)
    &:hover
      filter grayscale(0)
    &:nth-child(5n)
      margin-right 0
  &-right
    h2
      color $BK_ONE
      margin-bottom 20px
    p
      font-size 16px
      margin-bottom 10px
      &:last-child
        margin-bottom 0