mixin home(data)
  section.home
    .home-video
      video(src="video.mp4" autoplay ) 
    .content.max-full
      .home-title
        h1  Дизайн интерьера
          span жилых и коммерческих помещений
      .home-bottom
        .socials
          ul
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/h1.svg", alt="Social Icon")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/h2.svg", alt="Social Icon")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/h3.svg", alt="Social Icon")
            li
              a(href="#", target="_blank")
                img(src="static/img/assets/home/h4.svg", alt="Social Icon")
    
    
        .home-advantages 
          .home-adv
            span 01
            span Архитектурное
              br
              | проектирование
          .home-adv
            span 02
            span Интерьер
              br
              | помещений
          .home-adv
            span 03
            span Строительство
              br
              |  объектов