mixin numbers(data)
  section.numbers
    .content.medium-full
      .numbers-wrapper
        .numbers-left
          img(src="static/img/assets/around/around.webp", alt="Around")
        .numbers-right
          h4 Diamond Ray
          p Генеральный директор Александр Блинов и арт-директор Елена Блинова совместно ведут бизнес 18 лет. Мы годами работаем с постоянной командой отделочников и строителей. Сотрудничество с некоторыми подрядчиками и партнерами продолжается с момента основания компании.

          .numbers-items
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 2003
                span год основания
              .numbers-item__btm
                p первые 10 лет бизнес работал под брендом «Четыре угла»
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 520
                span объектов
              .numbers-item__btm
                ul
                  li Москве и Санкт-Петербурге
                  li Сочи и Новосибирске
                  li Кемерове и Барнауле
                  li Горно-Алтайске
                  li Марбельи (Испания)
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 150
                span клиентов
              .numbers-item__btm
                p вернулись в Diamond Ray за вторыми и третьими проектами частных и коммерческих интерьеров
              