mixin latest(data)
  section.latest
    .content.medium-full
      .title
        h2 Новости Diamond Ray
      .blog-items
        //- Blog Item
        a(href="#").blog-item
          .blog-item__photo
            img(src="static/img/assets/blog/b0.webp", alt="Blog")
          .blog-item__content
            .blog-item__date 29.10.2021
            .blog-item__name 
              h4 Премия Архтайга 2020
            .blog-item__text
              p Интерьер квартиры «Карамель» по проекту дизайнеров Елены Блиновой и Юлии Костыревой номинирован на премию
        //- Blog Item
        a(href="#").blog-item
          .blog-item__photo
            img(src="static/img/assets/blog/b2.webp", alt="Blog")
          .blog-item__content
            .blog-item__date 29.10.2021
            .blog-item__name 
              h4 В новый год в новый офис!
            .blog-item__text
              p Интерьер квартиры «Карамель» по проекту дизайнеров Елены Блиновой и Юлии Костыревой номинирован на премию