.footer
  padding-top 80px
  padding-bottom 70px
  &-wrapper
    display flex
    justify-content space-between
  &-logo
    max-width 210px
    margin-bottom 30px
  &-info
    margin-bottom 30px
    a
      display block
      font-size 22px
      color $BK_ONE
  &-address
    address
      display block
      font-size 16px
  &-right
    h2
      color $BK_ONE