mixin steps(data)
  section.steps
    .content
      .title
        h2 Этапы работы
    

      .steps-items
        //- Steps Item
        .steps-item.steps-item__full
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 01
              .steps-item__info 
                i Знакомство
                span решение о совместной работе
                p Смотрим архитектурный план объекта, выясняем основные потребности клиентов, обсуждаем примеры работ и базовые условия работы.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 1 час
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s1.webp", alt="")
        
        //- Steps Item
        .steps-item
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 02
              .steps-item__info 
                i Договор
                span а также бриф, техническое задание на проектирование
                p Выезжаем на объект и делаем замеры. 
                  br
                  | Зонируем пространство и планируем расстановку мебели. 
                  br
                  | Предлагаем варианты перепланировки.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 1.5 часа
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s2.webp", alt="")
        
        //- Steps Item
        .steps-item
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 03
              .steps-item__info 
                i Планировочные решения
                span схема зонирования и расстановки мебели в двух вариантах на выбор
                p Выезжаем на объект и делаем замеры. Зонируем пространство и планируем расстановку мебели. Предлагаем варианты перепланировки.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 5-10 рабочих дней
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 30% от стоимости по договору
            .steps-item__right  
              img(src="static/img/assets/steps/s3.webp", alt="")
        
        //- Steps Item
        .steps-item.steps-item__full.steps-item__reverse
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 04
              .steps-item__info 
                i Концептуальное решение
                span коллажи пространств
                p Обсуждаем наполнение объекта: стилистику, цветовое решение, элементы декора. Создаем предварительные изображения интерьера — мудборды.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 5 рабочих дней
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s4.webp", alt="")
        
        //- Steps Item
        .steps-item
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 05
              .steps-item__info 
                i 3d-визуализация
                span объемное изображение объекта с реальными образцами отделочных материалов, мебели и декора
                p Разрабатываем альбом с изображениями будущего объекта, приближенными к реальности — ясность в выборе отделочных материалов, мебели, техники и элементов декора.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 15 рабочих дней
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 40% от стоимости по договору
            .steps-item__right  
              img(src="static/img/assets/steps/s5.webp", alt="")
        
        //- Steps Item
        .steps-item
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 06
              .steps-item__info 
                i Планировочные решения
                span техническое задание для строительно-монтажной бригады
                p Подготавливаем комплект чертежей для строителей, включающий обмеры, демонтаж, мебель и технику, двери и окна, полы и стены, розетки и светильники и сантехнику, а также спецификации отделочных материалов.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 15 рабочих дней
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 30% от стоимости по договору
            .steps-item__right  
              img(src="static/img/assets/steps/s2.webp", alt="")