mixin steps(data)
  section.steps
    .content
      .title
        h2 Этапы работы
    

      .steps-items
        //- Steps Item
        .steps-item.steps-item__full
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 01
              .steps-item__info 
                i Знакомство
                span решение о совместной работе
                p Смотрим архитектурный план объекта, выясняем основные потребности клиентов, обсуждаем примеры работ и базовые условия работы.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 1 час
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s1.webp", alt="")
        
        //- Steps Item
        .steps-item
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 02
              .steps-item__info 
                i Договор
                span решение о совместной работе
                p Смотрим архитектурный план объекта, выясняем основные потребности клиентов, обсуждаем примеры работ и базовые условия работы.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 1 час
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s2.webp", alt="")
        
        //- Steps Item
        .steps-item
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 03
              .steps-item__info 
                i Планировочные решения
                span решение о совместной работе
                p Смотрим архитектурный план объекта, выясняем основные потребности клиентов, обсуждаем примеры работ и базовые условия работы.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 1 час
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s3.webp", alt="")
        
        //- Steps Item
        .steps-item.steps-item__full.steps-item__reverse
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 04
              .steps-item__info 
                i Знакомство
                span решение о совместной работе
                p Смотрим архитектурный план объекта, выясняем основные потребности клиентов, обсуждаем примеры работ и базовые условия работы.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 1 час
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s4.webp", alt="")
        
        //- Steps Item
        .steps-item
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 05
              .steps-item__info 
                i Договор
                span решение о совместной работе
                p Смотрим архитектурный план объекта, выясняем основные потребности клиентов, обсуждаем примеры работ и базовые условия работы.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 1 час
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s5.webp", alt="")
        
        //- Steps Item
        .steps-item
          .steps-item__wrapper
            .steps-item__left
              .steps-item__number 06
              .steps-item__info 
                i Планировочные решения
                span решение о совместной работе
                p Смотрим архитектурный план объекта, выясняем основные потребности клиентов, обсуждаем примеры работ и базовые условия работы.
                .steps-item__ul
                  ul
                    li 
                      img(src="static/img/assets/steps/s1.svg", alt="s1")
                      | 1 час
                    li 
                      img(src="static/img/assets/steps/s2.svg", alt="s1")
                      | 0 руб.
            .steps-item__right  
              img(src="static/img/assets/steps/s2.webp", alt="")