.works
  background $BK_TWO
  padding-top 80px
  padding-bottom 80px
  .title
    margin-bottom 50px
    text-align center
    h2 
      color $wh
      text-transform uppercase
  
  .blog
    &-item
      &__photo
        margin-bottom 30px
      &__next
        margin-top 30px
        .button
          padding-left 20px
          padding-right 20px

  &-all
    display flex
    justify-content center
    align-items center
    margin-top 100px
    .button
      width 300px