.selection
  padding-top 100px
  padding-bottom 100px
  position relative
  &::after
    content ''
    position absolute
    right 0
    top 0
    width 40%
    height 100%
    background #eeeeee
  &-wrapper
    display flex
    justify-content space-between
    align-items center
    position relative
    z-index 4
  &-left
    width 51.5873015873%
  &-right
    width 48%
  &-left
    > span
      display block
      font-size 13px
      line-height 1.3
      text-transform uppercase
      opacity 0.6
      color #000
      font-family $Semi
      margin-bottom 10px
    > h2
      color #000
      font-family $Extra
      font-size 40px
      line-height 1.3
      margin-bottom 20px
    ul 
      li
        font-size 13px
        margin-bottom 5px
        font-family $Medium
        color #000
        &:last-child
          margin-bottom 0px

  &-action
    margin-top 30px
    display flex
    align-items center
    .button
      padding-left 50px
      padding-right 50px
      margin-right 30px
    a
      font-size 12px
      font-family $Medium
      display flex
      align-items center
      img
        margin-left 5px