mixin design(data)
  section.design
    .content.medium-full 
      .examples-item.active
        .examples-item__left
          h4 Дизайн, актуальный десятилетиями
          p Наше любимое направление в дизайне — харизматичный минимализм и неоклассика. Чтобы интерьер был актуальным несколько лет, он должен опережать время своего рождения.
          p Чтобы расширять кругозор, наши дизайнеры стажируются на фабриках Италии и Испании, посещают международные выставки. Мы рекомендуем только те решения, которые эксплуатировали в жизни. Дружим с клиентами и видим, как живут идеи после их воплощения.
          p Каждый объект ведет команда: директор, главный дизайнер, ведущий дизайнер, прораб и проект-менеджер. При таком подходе любые вопросы сроков, финансирования, дизайна, строительства и закупок получают максимальное внимание.
          p Все дизайнеры в штате имеют высшие архитектурное образование.
          .numbers-items
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 20
                span выставок и стажировок
              .numbers-item__btm
                p международных выставок и зарубежных стажировок посетили сотрудники компании за последние 6 лет
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 35
                span проектов Diamond Ray
              .numbers-item__btm
                p опубликовали в российских архитектурных журналах и иностранных каталогах, в том числе испанском издании бренда Grespania
        .examples-item__right
          .examples-item__slides
            .examples-item__slide
              img(src="static/img/assets/design/d1.png", alt="Examples")
            .examples-item__slide
              img(src="static/img/assets/design/d2.png", alt="Examples")
            .examples-item__slide
              img(src="static/img/assets/design/d3.png", alt="Examples")