.call.consultation
  background $BK_THREE
  padding 80px 0
  
  .call
    &-left
      h2,
      p
        color $wh
    &-right
      background $BK_TWO
      padding-bottom 20px
  .form
    width 100%