mixin realised(data)
  section.realised
    .content.max-full
      .title
        h2 Реализованные проекты
        p Клиенты заказывают архитектурный проект, дизайн-проект 
          br
          | или «дом под ключ»
      
      .realised-items
        
        //- Realised Item
        .realised-item 
          .realised-item__photo
            img(src="static/img/assets/realised/r1.webp", alt="Realised")
          .realised-item__content
            h2 Quartz Grey
            p Загородный дом из клееного бруса Архитектурный проект и проект благоустройства — Diamond Ray
            +button('#', 'Подробнее').button-black

        //- Realised Item
        .realised-item 
          .realised-item__photo
            img(src="static/img/assets/realised/r2.webp", alt="Realised")
          .realised-item__content
            h2 Удача
            ul
              li
                span Проект
                span DIAMOND RAY ARCHITECT GROUP
              li
                span Фото
                span Виталий Иванов
              li
                span Ландафтные работы
                span Мастерская пространственного дизайна
              li
                span Общестроительные работы
                span Мксвэл
            +button('#', 'Подробнее').button-black
        
         //- Realised Item
        .realised-item 
          .realised-item__photo
            img(src="static/img/assets/realised/r3.webp", alt="Realised")
          .realised-item__content
            h2 Quartz Grey
            p Загородный дом из клееного бруса Архитектурный проект и проект благоустройства — Diamond Ray
            +button('#', 'Подробнее').button-black

        //- Realised Item
        .realised-item 
          .realised-item__photo
            img(src="static/img/assets/realised/r4.webp", alt="Realised")
          .realised-item__content
            h2 Удача
            ul
              li
                span Проект
                span DIAMOND RAY ARCHITECT GROUP
              li
                span Фото
                span Виталий Иванов
              li
                span Ландафтные работы
                span Мастерская пространственного дизайна
              li
                span Общестроительные работы
                span Мксвэл
            +button('#', 'Подробнее').button-black
        
         //- Realised Item
        .realised-item 
          .realised-item__photo
            img(src="static/img/assets/realised/r5.webp", alt="Realised")
          .realised-item__content
            h2 Quartz Grey
            p Загородный дом из клееного бруса Архитектурный проект и проект благоустройства — Diamond Ray
            +button('#', 'Подробнее').button-black

        //- Realised Item
        .realised-item 
          .realised-item__photo
            img(src="static/img/assets/realised/r6.webp", alt="Realised")
          .realised-item__content
            h2 Удача
            ul
              li
                span Проект
                span DIAMOND RAY ARCHITECT GROUP
              li
                span Фото
                span Виталий Иванов
              li
                span Ландафтные работы
                span Мастерская пространственного дизайна
              li
                span Общестроительные работы
                span Мксвэл
            +button('#', 'Подробнее').button-black
      
      .realised-button
        +button('#','Дома из клеенног бруса').button-black