mixin reviews(data)
  section.reviews
    .content.medium-full
      .title
        h2 Отзывы клиентов
      
      .reviews-slider

        .reviews-slides

          //- Rev Slide
          .reviews-slide
            .reviews-slide__wrapper
              .reviews-slide__photo
                img(src="static/img/assets/reviews/r1.webp", alt="R1")
              .reviews-slide__content
                p С архитектурной группой «ДАЙМОНД РЭЙ» была проделана кропотливая работа. Перед дизайнером стояла основная задача - создание уютного и атмосферного интерьера, ведь, когда создаются кондитерские шедевры, важно, чтобы царила особая обстановка. Человек должен чувствовать себя комфортно и быть заряжен позитивными эмоциями! Это задача была прекрасно выполнена! Интерьер кондитерской студии Le Plaisir Pastry получился лёгким и воздушным! Проект был сделан в срок, а также при его создании учтены все пожелания!
                span Белина Мария

          //- Rev Slide
          .reviews-slide
            .reviews-slide__wrapper
              .reviews-slide__photo
                img(src="static/img/assets/reviews/r2.jpg", alt="R1")
              .reviews-slide__content
                p С компанией «ДАЙМОНД РЭЙ» сотрудничаем в третий раз, до этого были реализованы: квартира, кондитерская студия. На данный момент идёт реализация загородного дома. Работать с данной компанией легко и приятно. Мы очень довольны результатом. Нам радостно осознавать, что мы живём в таком замечательном интерьере, потому что находиться там одно удовольствие.
                span Семья Белиных 

          //- Rev Slide
          .reviews-slide
            .reviews-slide__wrapper
              .reviews-slide__photo
                img(src="static/img/assets/reviews/r3.webp", alt="R1")
              .reviews-slide__content
                p Когда в нашей молодой семье встал вопрос о ремонте квартиры, то, без всяких сомнений мы обратились, не буду скрывать, к нашим дорогим друзьям - дизайнерам Елене и Александру, Архитектурная группа «ДАЙМОНД РЭЙ» (бывш. Дизайн-студия «4 УГЛА»). И не потому, что они наши друзья, а по удачному опыту других многочисленных заказчиков. Безупречный стиль, только новые тенденции, тонкий подход к каждому клиенту.
                p Дизайн - проект нашей квартиры мы утвердили с первого раза, не смотря на то, что у нас с мужем разные вкусы. Скоро у нас будет пополнение, и мы уже задумываемся о покупке нового жилья, но не задумываемся о том, кто сделает нашу квартиру стильной, многофункциональной и, конечно же, уютной!
                span Мария и Матвей


          //- Rev Slide
          .reviews-slide
            .reviews-slide__wrapper
              .reviews-slide__photo
                img(src="static/img/assets/reviews/r4.webp", alt="R1")
              .reviews-slide__content
                p Решив заказать профессиональный дизайн интерьера своей квартиры, я сэкономил немало времени и сил. Дизайнеры Архитектурной группы «ДАЙМОНД РЭЙ» отлично справились со своей задачей, начиная от проектирования и заканчивая реализацией. Теперь, каждодневно наслаждаясь результатом их работы, я понимаю, что не зря полностью им доверился в этом непростом деле – мой дом красивый, удобный, функциональный, стильный и полностью отвечает всем моим желаниям и требованиям. Огромное им спасибо за это!
                span Михаил Булатников


