mixin examples(data)
  section.examples
    .content.medium-full
      .examples-tabs
        ul
          li
            span Квартиры
          li
            span Дома
          li
            span Фитнес-центры
          li
            span Кафе
          li
            span Офисы
          li
            span Отели
          li
            span Spa и Wellness
          li
            span МОП


      .examples-wrapper
        //- Ex Item
        .examples-item.active
          .examples-item__left
            h4 Индивидуальная свобода
            p Ваше жилье станет государством в государстве со своими законами комфорта, даже если вы приобретаете квартиру в центре мегаполиса.
            p Мы поможем, начиная с выбора квартиры — оценим планировку и затраты на ремонт. Возьмем на себя управление проектом целиком или ту часть, которая вас тревожит, например: ремонт и комплектация мебелью.
            p По мнению клиентов, самая приятная работа — участвовать в создании будущего жилья, не вставая с дивана. Вы оцениваете визуализации, выбираете декор, материалы и мебель по каталогам и образцам в нашем офисе.
            .examples-item__button
              +button('#', 'Заказать проект').button-black
          .examples-item__right
            .examples-item__slides
              .examples-item__slide
                img(src="static/img/assets/examples/e1.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e2.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e3.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e4.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e5.jpg", alt="Examples")
          
        //- Ex Item
        .examples-item
          .examples-item__left
            h4 Архитектура будущего
            p Ваше жилье станет государством в государстве со своими законами комфорта, даже если вы приобретаете квартиру в центре мегаполиса.
            p Мы поможем, начиная с выбора квартиры — оценим планировку и затраты на ремонт. Возьмем на себя управление проектом целиком или ту часть, которая вас тревожит, например: ремонт и комплектация мебелью.
            p По мнению клиентов, самая приятная работа — участвовать в создании будущего жилья, не вставая с дивана. Вы оцениваете визуализации, выбираете декор, материалы и мебель по каталогам и образцам в нашем офисе.
            .examples-item__button
              +button('#', 'Заказать проект').button-black
          .examples-item__right
            .examples-item__slides
              .examples-item__slide
                img(src="static/img/assets/examples/e2.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e1.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e3.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e4.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e5.jpg", alt="Examples")
        //- Ex Item
        .examples-item
          .examples-item__left
            h4 Мотивация на спорт
            p Ваше жилье станет государством в государстве со своими законами комфорта, даже если вы приобретаете квартиру в центре мегаполиса.
            p Мы поможем, начиная с выбора квартиры — оценим планировку и затраты на ремонт. Возьмем на себя управление проектом целиком или ту часть, которая вас тревожит, например: ремонт и комплектация мебелью.
            p По мнению клиентов, самая приятная работа — участвовать в создании будущего жилья, не вставая с дивана. Вы оцениваете визуализации, выбираете декор, материалы и мебель по каталогам и образцам в нашем офисе.
            .examples-item__button
              +button('#', 'Заказать проект').button-black
          .examples-item__right
            .examples-item__slides
              .examples-item__slide
                img(src="static/img/assets/examples/e3.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e2.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e1.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e4.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e5.jpg", alt="Examples")
          //- Ex Item
        .examples-item
          .examples-item__left
            h4 Атмосфера вкусных блюд
            p Ваше жилье станет государством в государстве со своими законами комфорта, даже если вы приобретаете квартиру в центре мегаполиса.
            p Мы поможем, начиная с выбора квартиры — оценим планировку и затраты на ремонт. Возьмем на себя управление проектом целиком или ту часть, которая вас тревожит, например: ремонт и комплектация мебелью.
            p По мнению клиентов, самая приятная работа — участвовать в создании будущего жилья, не вставая с дивана. Вы оцениваете визуализации, выбираете декор, материалы и мебель по каталогам и образцам в нашем офисе.
            .examples-item__button
              +button('#', 'Заказать проект').button-black
          .examples-item__right
            .examples-item__slides
              .examples-item__slide
                img(src="static/img/assets/examples/e4.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e2.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e3.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e1.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e5.jpg", alt="Examples")
          //- Ex Item
        .examples-item
          .examples-item__left
            h4 Ценности компании с первого взгляда
            p Ваше жилье станет государством в государстве со своими законами комфорта, даже если вы приобретаете квартиру в центре мегаполиса.
            p Мы поможем, начиная с выбора квартиры — оценим планировку и затраты на ремонт. Возьмем на себя управление проектом целиком или ту часть, которая вас тревожит, например: ремонт и комплектация мебелью.
            p По мнению клиентов, самая приятная работа — участвовать в создании будущего жилья, не вставая с дивана. Вы оцениваете визуализации, выбираете декор, материалы и мебель по каталогам и образцам в нашем офисе.
            .examples-item__button
              +button('#', 'Заказать проект').button-black
          .examples-item__right
            .examples-item__slides
              .examples-item__slide
                img(src="static/img/assets/examples/e5.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e2.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e3.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e4.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e1.jpg", alt="Examples")
          //- Ex Item
        .examples-item
          .examples-item__left
            h4 Эффектность простых решений
            p Ваше жилье станет государством в государстве со своими законами комфорта, даже если вы приобретаете квартиру в центре мегаполиса.
            p Мы поможем, начиная с выбора квартиры — оценим планировку и затраты на ремонт. Возьмем на себя управление проектом целиком или ту часть, которая вас тревожит, например: ремонт и комплектация мебелью.
            p По мнению клиентов, самая приятная работа — участвовать в создании будущего жилья, не вставая с дивана. Вы оцениваете визуализации, выбираете декор, материалы и мебель по каталогам и образцам в нашем офисе.
            .examples-item__button
              +button('#', 'Заказать проект').button-black
          .examples-item__right
            .examples-item__slides
              .examples-item__slide
                img(src="static/img/assets/examples/e1.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e2.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e3.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e4.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e5.jpg", alt="Examples")
        //- Ex Item
        .examples-item
          .examples-item__left
            h4 Умные интерьеры релакса
            p Ваше жилье станет государством в государстве со своими законами комфорта, даже если вы приобретаете квартиру в центре мегаполиса.
            p Мы поможем, начиная с выбора квартиры — оценим планировку и затраты на ремонт. Возьмем на себя управление проектом целиком или ту часть, которая вас тревожит, например: ремонт и комплектация мебелью.
            p По мнению клиентов, самая приятная работа — участвовать в создании будущего жилья, не вставая с дивана. Вы оцениваете визуализации, выбираете декор, материалы и мебель по каталогам и образцам в нашем офисе.
            .examples-item__button
              +button('#', 'Заказать проект').button-black
          .examples-item__right
            .examples-item__slides
              .examples-item__slide
                img(src="static/img/assets/examples/e2.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e1.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e3.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e4.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e5.jpg", alt="Examples")
         //- Ex Item
        .examples-item
          .examples-item__left
            h4 Современные холлы ЖК
            p Ваше жилье станет государством в государстве со своими законами комфорта, даже если вы приобретаете квартиру в центре мегаполиса.
            p Мы поможем, начиная с выбора квартиры — оценим планировку и затраты на ремонт. Возьмем на себя управление проектом целиком или ту часть, которая вас тревожит, например: ремонт и комплектация мебелью.
            p По мнению клиентов, самая приятная работа — участвовать в создании будущего жилья, не вставая с дивана. Вы оцениваете визуализации, выбираете декор, материалы и мебель по каталогам и образцам в нашем офисе.
            .examples-item__button
              +button('#', 'Заказать проект').button-black
          .examples-item__right
            .examples-item__slides
              .examples-item__slide
                img(src="static/img/assets/examples/e3.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e2.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e1.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e4.jpg", alt="Examples")
              .examples-item__slide
                img(src="static/img/assets/examples/e5.jpg", alt="Examples")
          
          
    