mixin gallery(data)
  section.gallery
    .content.medium-full  

      .gallery-paragraph
        p Мы готовы поделиться с вами нашим видением дизайна
          br
          | и привести вас в увлекательный мир творчества.


      .gallery-slider
        .gallery-slides

          //- Gallery Slide
          .gallery-slide
            a(href="static/img/assets/gallery/g1.jpg" data-fancybox='gallery') 
              img(src="static/img/assets/gallery/g1.jpg", alt="Gallery") 
          //- Gallery Slide
          .gallery-slide
            a(href="static/img/assets/gallery/g2.jpg" data-fancybox='gallery') 
              img(src="static/img/assets/gallery/g2.jpg", alt="Gallery") 
          //- Gallery Slide
          .gallery-slide
            a(href="static/img/assets/gallery/g3.jpg" data-fancybox='gallery') 
              img(src="static/img/assets/gallery/g3.jpg", alt="Gallery") 
          //- Gallery Slide
          .gallery-slide
            a(href="static/img/assets/gallery/g4.jpg" data-fancybox='gallery') 
              img(src="static/img/assets/gallery/g4.jpg", alt="Gallery") 
          //- Gallery Slide
          .gallery-slide
            a(href="static/img/assets/gallery/g5.jpg" data-fancybox='gallery') 
              img(src="static/img/assets/gallery/g5.jpg", alt="Gallery") 
          //- Gallery Slide
          .gallery-slide
            a(href="static/img/assets/gallery/g6.jpg" data-fancybox='gallery') 
              img(src="static/img/assets/gallery/g6.jpg", alt="Gallery") 
          //- Gallery Slide
          .gallery-slide
            a(href="static/img/assets/gallery/g7.jpg" data-fancybox='gallery') 
              img(src="static/img/assets/gallery/g7.jpg", alt="Gallery") 