mixin honestly(data)
  section.numbers.honestly
    .content.medium-full
      .numbers-wrapper
        .numbers-left
          img(src="static/img/assets/honestly/honestly.jpg", alt="Around")
        .numbers-right
          h4 Честные закупки
          p Большую часть материалов и мебели возим напрямую от производителей и импортеров, поэтому наши клиенты получают заказы без магазинных наценок. Наша скидка больше стандартной «дизайнерской», потому что мы работаем как торговый дом.
          p Клиентам не надо ездить в строительные компании — всё можно выбрать по каталогам и образцам в офисе.


          .numbers-items
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 500
                span тыс. рублей
              .numbers-item__btm
                p экономят клиенты, если комплексно покупают отделочные материалы, мебель и декор для квартиры от 100 кв. метров
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 100%
                span материалов
              .numbers-item__btm
                p которые мы используем, имеют гигиенические сертификаты качества, не выделяют фенол или другие вредные вещества
            