.header
  height 100px
  position absolute
  left 0
  top 0
  width 100%
  z-index 3
  .content
    height 100%
  &-wrapper
    height 100%
    display flex
    justify-content space-between
    align-items center
  &-logo
    display flex
    align-items center
    height 60px
    img
      height 100%
      object-fit contain
  &-right
    display flex
    align-items center
nav.menu
  ul
    display flex
    align-items center
    margin-right 120px
    li
      margin-right 100px
      &:last-child
        margin-right 0
    a
      display inline-flex
      height 60px
      font-size 12px
      line-height 1.55
      font-family $Semi
      color $wh
      text-transform uppercase
      align-items center


.header-fixed
  position fixed
  left 0
  top 0
  width 100%
  z-index 30
  height 70px
  background $wh
  opacity 0.95
  transform translateY(-100%)
  transition all .3s ease-in-out
  &.is-active
    transform translateY(0)
  .content
    height 100%
  nav.menu ul a
    color $BK_ONE

  

header.header-black
  display none
  + .header-fixed
    transform translateY(0)