.button
  display inline-flex
  align-items center
  height 44px 
  justify-content center
  padding-left 12px
  padding-right 12px
  bb()
  border: 1px solid $wh
  transition background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out property timing-function
  span
    font-family $Medium
    color $wh
    font-size 14px
    