.button
  display inline-flex
  align-items center
  height 44px 
  justify-content center
  padding-left 12px
  padding-right 12px
  bb()
  border: 1px solid $wh
  transition all .3s ease-in-out
  span
    font-family $Medium
    transition all .3s ease-in-out
    color $wh
    font-size 14px
    
  &.button-black
    border 1px solid $BK_ONE
    span
      color $BK_ONE
    &:hover
      background $BK_ONE
      span
        color $wh
  &.button-filled
    background $BK_ONE
    span
      color $wh