.form
  &-row
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
    .form-group
      margin-bottom 0

.form-group
  margin-bottom 20px
input,
textarea
  width 100%
  background none
  height 60px
  display inline-flex
  bb()
  outline none
  border none
  border-bottom 1px solid #000000
  font-family $Medium
button
  background none
  &.button
    width 100%
    cursor pointer
    height 60px


.form.form-white
  input 
    border-color: $wh
    color $wh