mixin arh(data)
  section.arh
    .content.max-full
      .arh-wrapper

        .arh-left
          h2 Архитектурное проектирование и строительство
          p Комфортный загородный дом
            br
            | по вашему сценарию жизни
        .arh-right
          img(src="static/img/assets/arh/arh.jpg", alt="")
      

      .arh-bottom
        .arh-btm__left
          img(src="static/img/assets/arh/arh.webp", alt="Arh")
        .arh-btm__right
          h2 Комплексный подход к  
            br
            | организации жизни за городом
          p Мы разработаем проект современного загородного дома с учетом мировых тенденций в архитектуре, строительстве и умном инжиниринге.
          p По желанию заказчика, пройдем вместе путь с нуля: от геологических изысканий до покупки цветов на веранду. Привлечем для строительства своих партнёров — компании с 20-летним опытом на рынке, обеспечим авторский надзор, сделаем дизайн интерьера и укомплектуем ваш будущий дом мебелью и декором.
          a(href="#")  Рассчитать проект
            img(src="static/img/assets/arh/vector.svg", alt="Vector")