mixin around(data)
  section.around
    .content
      .around-wrapper
        .around-image
          img(src="static/img/assets/around/around.webp", alt="Around")
        .around-content
          .around-content__top
            h4 DIAMOND RAY
            h5 Архитектурная студия Александра и Елены Блиновых
            p Наш подход к созданию проекта — место, в котором вы живете или работаете, должно дышать новизной и не терять ликвидной стоимости долгие годы.
            p Мы руководствуемся трендами, здравым смыслом и вниманием к деталям, составляющим эргономику проекта, где всё удобно продуманно наперёд.
          .around-content__bottom
            ul
              li
                span(data-tippy-content="Мы создадим для вас уникальный интерьер. Это может быть ваше личное пространство, офис, интерьер гостиницы, wellness- или спа-салон, барбершоп или фитнес-клуб, входная группа жилого комплекса или бизнес-центра.") ● Дизайн интерьера
              li
                span(data-tippy-content="Когда вы хотите построить загородный дом, в котором вам и вашим близким было бы комфортно и уютно, но не знаете с чего начать? Мы поможем вам создать индивидуальный проект дома, а наши подрядчики легко построят его в согласованные сроки.") ● Архитектурное проектирование
              li
                span(data-tippy-content="Нет времени и желания заниматься многочисленными закупками отделочных материалов, сантехники, света мебели и декора? Поможем вам с закупкой всех необходимых материалов по самым выгодным ценам.") ● Комплектация
              li
                span(data-tippy-content="Многие, наверняка, сталкивались с проблемой где и как найти адекватных строителей и отделочников. У нас такой проблемы не существует. Мы сотрудничаем только с проверенными годами сильными подрядчиками, которые успешно реализуют наши идеи.") ● Отделочные работы
              li
                span(data-tippy-content="Чтобы ваш будущий интерьер соответствовал замыслу и чтобы он был реализован в полной мере, периодически приходится решать возникающие вопросы с исполнителями. Зачастую это сильно отвлекает от привычного образа жизни. Чтобы вас оградить от этого процесса, мы предлагаем воспользоваться услугой «Авторский надзор».") ● Авторский надзор
              li
                span(data-tippy-content="Вы находитесь в другом городе или у вас нет времени ездить по магазинам, встречаться с многочисленными участниками проекта, вас это все утомляет и у вас есть наверняка более важные дела? Мы с удовольствием возьмём эти вопросы на себя. А вы будете получать отчеты о проделанной работе, о закупках и предстоящих расходах, в соответствии с утверждённой сметой, проводя ценное время в кругу близких или посвящая себя любимому делу.") ● Управление проектом