mixin complex(data)
  section.complex
    .content
      .complex-wrapper 

        .complex-left
          h2 Комплекс услуг для 
            br
            | создания интерьера
          span Почему нас выбирают
          .complex-items
            .complex-item
              img(src="static/img/assets/complex/c1.svg", alt="Complex")
              span Профессионалы своего дела
              p Опыт работы 18 лет. Европейские производители публикуют наши работы в своих каталогах
            .complex-item
              img(src="static/img/assets/complex/c2.svg", alt="Complex")
              span Актуальность интерьера
              p Опыт работы 18 лет. Европейские производители публикуют наши работы в своих каталогах
            .complex-item
              img(src="static/img/assets/complex/c3.svg", alt="Complex")
              span Экономия вашего времени
              p Опыт работы 18 лет. Европейские производители публикуют наши работы в своих каталогах
            .complex-item
              img(src="static/img/assets/complex/c4.svg", alt="Complex")
              span Все вопросы в одном месте
              p Опыт работы 18 лет. Европейские производители публикуют наши работы в своих каталогах
        .complex-right
          img(src="static/img/assets/complex/complex.webp", alt="Complex")