mixin responsibility(data)
  section.responsibility
    .content
      .responsibility-wrapper
        .responsibility-left 
          span Ответственность
          p Перед началом проектирования обсуждаем бюджет и используем материалы, исходя из их ценовой категории.
          p Составляем график финансирования. Клиенты знают, во сколько им обойдется проект — от дизайн-проекта до покупки чайного сервиза — ещё до начала строительных работ. Сюрпризы в финансовых делах неприемлемы.
          p Предоставляем клиентам отчет о проделанной работе, расходе денежных средств.
          p Ведем авторский надзор и делаем фото- и видеоотчет. Перед тем, как начать работу, клиенты могут посетить наши объекты, где идет ремонт: оценить конструктивные решения, материалы и узлы, задать вопросы прорабу об эксплуатации и стоимости тех или иных решений.
          .numbers-items
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 1,5 - 3
                span месяца
              .numbers-item__btm
                p разработка дизайн-проекта
            //- Numbers Item
            .numbers-item
              .numbers-item__top
                span 4 - 12
                span месяца
              .numbers-item__btm
                p строительство и ремонт в зависимости от масштабов объекта
        .responsibility-right
          iframe(width="560" height="315" src="https://www.youtube.com/embed/IT-wSwDbTqs?autoplay=1&mute=1&enablejsapi=1" autoplay frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
