mixin create(data)
  section.create
    .content.medium-full
      .title
        h2 Создаем образ жизни

      .create-wrapper
        .create-image 
          img(src="static/img/assets/create/create.webp", alt="Create")
        .create-right
          h4 Формально — мы делаем интерьеры и архитектурные проекты для частных заказчиков и бизнеса.
          p Но за гранью условий договора остается кое-что невидимое — чувства людей и образ жизни, который рождается в новой атмосфере.
          p Мы знаем, что место, в котором вы живете, работаете, занимаетесь спортом и принимаете гостей, влияет на настроение и качество жизни. И важно в этом месте всё — от бетонной заливки до бликов фурнитуры.
          p Результатом доверия между архитектором и клиентом становится не дизайн-проект и расстановка мебели, а чувство радости, свободы и уверенности в новой жизни. Мы непрерывно создаем комфорт в самых маленьких, но важных деталях.
