mixin consultation(data)
  section.consultation
    .content
      .consultation-wrapper
        .consultation-left
          h2 Консультация 
            br
            | перед покупкой
          p Заполните форму и будьте уверены в том, 
            br
            | что покупаете квартиру, которая точно вам подходит
        .consultation-right
          form.form.form-white
            .form-row
              .form-group
                input(type="text" placeholder="Ваше имя")
              .form-group
                input(type="tel" placeholder="+7 (999) 999-99-99")
              .form-group
                button.button.button-white
                  span Записаться