.consultation
  background #eeeeee
  padding-top 50px
  padding-bottom 50px
  &-left
    width 42.5925925926%
    h2
      color #000
      line-height 1.2
      margin-bottom 20px
    p
      font-size 14px
      color: rgba(0,0,0,0.6)
      line-height 1.5
      font-family $Medium
