.partners
  .title
    text-align center
    margin-bottom 40px
    h2
      color $BK_ONE
  &-items
    display flex
    flex-wrap wrap
  &-item
    width 16.6666667%
    display flex
    justify-content center
    align-items center
    padding 15px
    box-sizing border-box
    transition $tr
    filter grayscale(100%)
    &:hover
      filter grayscale(0)