mixin partners(data)
  section.partners
    .content.medium-full
      .title  
        h2 Заказчики и партнеры
        span Нам доверяют 

      
      .partners-items
        .partners-item
          img(src="static/img/assets/partners/p1.jpg", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p2.png", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p3.png", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p4.svg", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p5.webp", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p6.webp", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p1.jpg", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p2.png", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p3.png", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p4.svg", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p5.webp", alt="Partners")
        .partners-item
          img(src="static/img/assets/partners/p6.webp", alt="Partners")