mixin dream(data)
  section.dream
    .dream-image
      img(src="static/img/assets/dream/dream.webp", alt="")
      .dream-wrapper
        .content.max-full
          h2 Diamond Ray осуществит вашу мечту о жизни в 
            br
            | современном, красивом и экологичном доме
          p Помощь с конструктивной частью и другими инженерными разделами
            br
            | (отопление, вентиляция, водо- и электроснабжение и канализация)
          a(href="#") Этапы работы
            img(src="static/img/assets/dream/arrow.svg", alt="Arrow")