mixin service(data)
  section.service
    .service-video
      video(src="service.mp4" autoplay) 
    .content.medium-full
      h2 Дизайн-проект
      p Дизайн-проектДля наших заказчиков создание дизайн-проекта — самая творческая часть работы. Мечты обретают конкретные образы, и это как путешествие в будущее.
      p Дизайнер помогает клиентам включиться в сотворчество, чтобы результат их порадовал. В финале рождается персонализированный интерьер — проект, который отражает образ жизни и вкус заказчиков, отвечает трендам, и с помощью технологий делает быт проще. 